---
import { Image } from 'astro:assets';

import EffectCard01 from "../../../public/blue-logos/widgli_logo_blue_01.svg"
import EffectCard02 from "../../../public/blue-logos/widgli_logo_blue_02.svg"
import EffectCard03 from "../../../public/blue-logos/widgli_logo_blue_03.svg"
import EffectCard04 from "../../../public/blue-logos/widgli_logo_blue_04.svg"
import EffectCard05 from "../../../public/blue-logos/widgli_logo_blue_05.svg"
---
<div class="grid grid-cols-3 grid-rows-2 m-0 inset-0 max-w-dvw relative p-12 gap-12 bg-slate-300 h-dvh items-center justify-center">
    <Image alt="" src={EffectCard01} class="opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out max-w-full w-full h-auto col-span-1 p-12 mask-r-from-90% mask-l-from-90% mask-t-from-90% mask-b-from-90% mask-radial-from-90% mask-radial-to-85%" />
    <Image alt="" src={EffectCard02} class="opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out max-w-full w-full h-auto col-span-1 p-12 mask-r-from-90% mask-l-from-90% mask-t-from-90% mask-b-from-90% mask-radial-from-90% mask-radial-to-85%" />
    <Image alt="" src={EffectCard03} class="opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out max-w-full w-full h-auto col-span-1 p-12 mask-r-from-90% mask-l-from-90% mask-t-from-90% mask-b-from-90% mask-radial-from-90% mask-radial-to-85%" />
    <Image alt="" src={EffectCard04} class="opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out max-w-full w-full h-auto col-span-1 p-12 mask-r-from-90% mask-l-from-90% mask-t-from-90% mask-b-from-90% mask-radial-from-90% mask-radial-to-85%" />
    <Image alt="" src={EffectCard05} class="opacity-50 hover:opacity-100 transition-all duration-500 ease-in-out max-w-full w-full h-auto col-span-1 p-12 mask-r-from-90% mask-l-from-90% mask-t-from-90% mask-b-from-90% mask-radial-from-90% mask-radial-to-85%" />
</div>